<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Basic django setup</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  {% assets "css_all"  %}
    <LINK href="{{STATIC_URL}}{{ ASSET_URL }}" rel="stylesheet" type="text/css">
  {% endassets %}

  {% assets "js_all" %}
    <script type="text/javascript" src="{{STATIC_URL}}{{ ASSET_URL }}"></script>
  {% endassets %}

</head>

<body>
    {% block content %}
    <p class='test'>Welcome to basic jinja/django setup.</p>
    <p> If you are not seeing the above text with size 5em something is not working!</p>
    {% endblock %}

  {% block javascript %}
  {% endblock %}

  {% block endjavascript %}
  {% endblock %}
</body>
</html>
